extends _master.pug
block head-append
    title 經營理念｜知音文創 Jean Cultural & Creative Co., Ltd.
    meta(property="og:title" content="經營理念｜知音文創 Jean Cultural & Creative Co., Ltd.")
    meta(name="description" content="堅持著以＂以人為本＂ ＂傳遞感動＂的理念，追求高品質的商品，並致力研發生產設備，只為提供更優良的商品品質。")
    meta(property="og:description" content="堅持著以＂以人為本＂ ＂傳遞感動＂的理念，追求高品質的商品，並致力研發生產設備，只為提供更優良的商品品質。")

    link(rel='stylesheet' href="/asset/lib/swiper/swiper.min.css")
    script(src="/asset/lib/swiper/swiper.min.js" defer)
    script(src="/asset/js/about.js" defer)
    link(rel="stylesheet", href="/asset/css/about.css")

block header
    include ./include/master/header.pug
    +header(['','ON','','','',''])

block content-extend
    include ./include/common/page_theme.pug
    include ./include/common/page_select.pug
    include ./include/common/select.pug
    include ./include/master/makers_header.pug
    .business
        +page_theme("ABOUT","關於知音","background-image:url('${require(`../../img/CH/desktop/buyers/bg.jpg`)}')")

        +page_select([['經營理念','/CH/about.html','ON'],['歷史沿革','/CH/history.html',''],['經典商品','/CH/classic.html',''],['人才招募','/CH/hiring.html','']],false)
        +makers_header([['經營理念','/CH/about.html','ON'],['歷史沿革','/CH/history.html',''],['經典商品','/CH/classic.html',''],['人才招募','/CH/hiring.html','']])
        .main_content
            .main_full_screen.about
                .special_introduction.about
                    .introduction_container.about
                        .introduction_title_container
                            .introduction_title.about 成立背景
                            .color
                                .c_1(style="background-color: #f3a0a2;")
                                .c_2(style="background-color: #6e99cb;")
                                .c_3(style="background-color: #f7ac1d;")
                                .c_4(style="background-color: #95d0bc;")
                                .c_5(style="background-color: #dcb483;")
                        .introduction_content.about
                            .desktop 知音文創事業群是個充滿創意、瘋狂、熱情的夢工廠。
                            .desktop 以＂人＂為最初衷的本，將每一位員工當作是家人，打造自然放鬆的工作環境；
                            .desktop 創立40餘年來秉持著"傳遞感動"的創意理念，
                            .desktop 將熱情投注於產品的開發，打造許多感動人心的經典設計。
                            .mobile 知音文創事業群是個充滿創意、瘋狂、熱情的夢工廠。以＂人＂為最初衷的本，將每一位員工當作是家人，打造自然放鬆的工作環境；創立40餘年來秉持著"傳遞感動"的創意理念，將熱情投注於產品的開發，打造許多感動人心的經典設計。
                    .more.more_btn
            .main_container.first_container
                .main_title_out
                        span.main_title 公司環境與三廠介紹
            .makers_full_screen
                .swiper-container
                    .swiper-wrapper
                        -for (var i = 1; i < 6; i ++)  
                            -var linkStr = "~CH/desktop/about/ph_1_"+ i +".jpg"
                            .swiper-slide
                                img(src=linkStr, alt="") 
                    .swiper-pagination
                    .swiper-button-prev.swiper-button-black
                    .swiper-button-next.swiper-button-black
            .main_container
                .makers_container
                    .about_width_900.top    
                        .main_icon 台北設計營運中心
                        span.blod 瘋狂與創造力的起始
                        span 在繁忙城市裡，卻擁有一片安靜的綠花園，充滿綠意和舒適的工作環境裡，開發團隊們讓美好的設計萌芽。知音設計營運中心，已坐落於新店區25餘年，也在這創造了無數從＂心＂感動的設計商品；重視人文基礎的工作空間，實現瘋狂創意的手創概念店，讓知音的設計裡總是有著一份獨特的情感。
            .makers_full_screen
                .swiper-container
                    .swiper-wrapper
                        -for (var i = 1; i < 6; i ++)  
                            -var linkStr = "~CH/desktop/about/ph_2_"+ i +".jpg"
                            .swiper-slide
                                img(src=linkStr, alt="") 
                    .swiper-pagination
                    .swiper-button-prev.swiper-button-black
                    .swiper-button-next.swiper-button-black
            .main_container
                .makers_container
                    .about_width_900.top    
                        .main_icon 知音台北廠
                        span.blod 打造MIT商品專屬的夢想
                        span 打造專屬的MIT高品質商品，知音台北廠從2012年起負責研發、生產製造Funtape品牌紙膠帶，以MIT設計、原物料為基礎生產出無毒環保的紙膠帶；並在陸續也加入了＂紙風景＂雷射紙製品和Wooderful life木器裝配的產線，並希望在未來能提供更多高品質的MIT專屬商品。
            .makers_full_screen
                .swiper-container
                    .swiper-wrapper
                        -for (var i = 1; i < 6; i ++)  
                            -var linkStr = "~CH/desktop/about/ph_3_"+ i +".jpg"
                            .swiper-slide
                                img(src=linkStr, alt="") 
                    .swiper-pagination
                    .swiper-button-prev.swiper-button-black
                    .swiper-button-next.swiper-button-black
            .main_container
                .makers_container
                    .about_width_900.top    
                        .main_icon 知音深圳創意產業園區
                        span.blod 落實熱情創意設計的基礎
                        span 堅持著以＂人＂為本的理念，開創花園渡假村的生產基地，綠樹成蔭、愜意寬敞的產業園區內，卻有著高度執行力的生產技術，專業的商品研發部門和台北設計營運中心接軌。為追求高品質的商品，知音深圳創意產業園區從製程管理、物料採購、生產加工、出貨品管皆落實系統化管理，並致力研發生產設備，只為提供更優良的商品品質。
            .makers_full_screen
                .swiper-container
                    .swiper-wrapper
                        -for (var i = 1; i < 6; i ++)  
                            -var linkStr = "~CH/desktop/about/ph_4_"+ i +".jpg"
                            .swiper-slide
                                img(src=linkStr, alt="") 
                    .swiper-pagination
                    .swiper-button-prev.swiper-button-black
                    .swiper-button-next.swiper-button-black
            .main_container
                .makers_container
                    .about_width_900.top    
                        .main_icon 知音廈門營運事業部
                        span.blod 大陸華北市場行銷亦生產中心
                        span 坐落於環境優美的廈門集美區，知音廈門營運事業部為大陸華北地區提供市場行銷策略，也負責大陸地區電子商務營運；同時為滿足大陸地區的商品需求，也擁有Wooderful life木器生產組裝線，手工卡片、貼紙及其他品牌類禮品線的生產。
    include ./include/common/service.pug
    +service("not_index")  
    include ./include/common/fixed_service.pug
