extends _master.pug

block head-append
    title 品牌介紹｜知音文創 Jean Cultural & Creative Co., Ltd.
    meta(property="og:title" content="品牌介紹｜知音文創 Jean Cultural & Creative Co., Ltd.")
    meta(name="description" content="知音文創匯集多元創意，產品來自感情，設計來自創造，素材來自天然，製造無限夢想的商品品牌。")
    meta(property="og:description" content="知音文創匯集多元創意，產品來自感情，設計來自創造，素材來自天然，製造無限夢想的商品品牌。")

    link(rel='stylesheet', href="/asset/lib/swiper/swiper.min.css")
    script(src="/asset/lib/swiper/swiper.min.js" defer)
    script(src="/asset/lib/jquery.address.min.js" defer)

    script(src="/asset/js/brand.js" defer)
    link(rel="stylesheet", href="/asset/css/brand.css")

block root-prepend

block header
    include ./include/master/header.pug
    +header(['','','','ON','',''])
block content-extend
    include ./include/common/page_theme.pug
    .brand
        +page_theme("BRAND","品牌介紹","background-image:url('${require(`../../img/CH/desktop/brand/bg.jpg`)}')")
        .content
            -for (var x = 1; x <= 8; x++) 
                -var name = 'test_' + x;
                .style_out(id=name name=name)
                    .style(class=(x % 2 == 0 )? 'style_2':'style_1' )
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide(style="background-image:url('${require(`../../img/CH/desktop/brand/show_1.jpg`)}')")
                                .swiper-slide(style="background-image:url('${require(`../../img/CH/desktop/brand/show_2.jpg`)}')")
                                .swiper-slide(style="background-image:url('${require(`../../img/CH/desktop/brand/show_3.jpg`)}')")
                                .swiper-slide(style="background-image:url('${require(`../../img/CH/desktop/brand/show_4.jpg`)}')")
                                .swiper-slide(style="background-image:url('${require(`../../img/CH/desktop/brand/show_5.jpg`)}')")
                            .swiper-pagination
                            .swiper-button-next.swiper-button-white
                            .swiper-button-prev.swiper-button-white
                        .style_container
                            .logo_out
                                img(src=(x % 2 == 0 )? '~CH/desktop/brand/logo_2.png':'~CH/desktop/brand/logo_1.png', alt="")
                                .line(style="background-color: black;")
                            .description 這是個精心設計的旅程，讓畫面訴說感動與人溝通，簡單的字句卻有著滿滿心意，打開瞬間的悸動，美好卻單純的表達是卡片才有的魅力。知音這是個精心設計的旅程，讓畫面訴說感動與人溝通，簡單的字句卻有著滿滿心意，打開瞬間的悸動，美好卻單純的表達是卡片才有的魅力。知音這是個精心設計的旅程，讓畫面訴說
                            .link
                                a(href="javascript:;" target="_blank" name=name).link_style.know_more 了解更多
                                p.point             
                                a(href="javascript:;" target="_blank" name=name).link_style.shopping 線上購買
        include ./include/common/service.pug
        +service("not_index")   
        include ./include/common/fixed_service.pug