extends _master.pug
block head-append
    title 經典商品｜知音文創 Jean Cultural & Creative Co., Ltd.
    meta(property="og:title" content="經典商品｜知音文創 Jean Cultural & Creative Co., Ltd.")
    meta(name="description" content="知音文創秉持著＂傳遞感動＂的創意理念，將熱情投注於產品的開發，打造許多感動人心的經典產品。")
    meta(property="og:description" content="知音文創秉持著＂傳遞感動＂的創意理念，將熱情投注於產品的開發，打造許多感動人心的經典產品。")

    link(rel='stylesheet' href="/asset/lib/swiper/swiper.min.css")
    script(src="/asset/lib/swiper/swiper.min.js" defer)
    script(src="/asset/js/classic.js" defer)
    link(rel="stylesheet", href="/asset/css/classic.css")

block header
    include ./include/master/header.pug
    +header(['','ON','','','',''])

block content-extend
    include ./include/common/page_theme.pug
    include ./include/common/page_select.pug
    include ./include/common/select.pug
    include ./include/master/makers_header.pug
    .business
        +page_theme("ABOUT","關於知音","background-image:url('${require(`../../img/CH/desktop/buyers/bg.jpg`)}')")

        +page_select([['經營理念','/CH/about.html',''],['歷史沿革','/CH/history.html',''],['經典商品','/CH/classic.html','ON'],['人才招募','/CH/hiring.html','']],false)
        +makers_header([['經營理念','/CH/about.html',''],['歷史沿革','/CH/history.html',''],['經典商品','/CH/classic.html','ON'],['人才招募','/CH/hiring.html','']])
        .main_content     
            .main_container.first_container
                .main_title_out
                        span.main_title 手工卡片
                span.main_text 以生活主題為元素，簡單的造型搭配多媒材呈現，用手工的溫暖傳達祝福的初衷。
            .main_full_screen.classic
                .main_container.classic
                    .swiper-container
                        .swiper-wrapper
                            -var arr = [['紫色高跟鞋卡','<p>推出時間 2001</p> ｜ 魅力女孩生日卡，優雅時尚的女孩配件為主角，綴上亮粉以及手工蝴蝶結，展現優雅自信風格'],['謝謝玻璃瓶卡','<p>推出時間 2001</p> ｜ 經典的玻璃瓶卡，手感紙張搭配複合媒材零件，透明PVC材質呈現玻璃瓶，看見滿滿感謝心意。'],['女baby衣卡','<p>推出時間 2005</p> ｜ 經典的迷你衣卡，手工製粉色小洋裝掛上衣架，單純的畫面、溫暖的布材質，傳遞滿滿的祝福。']]
                            each val,index in arr
                                -var num = index + 1;
                                -var str = "~CH/desktop/classic/ph_1_"+num+".png";
                                .swiper-slide
                                    .classic_style.three_parts
                                        img(src=str alt="")
                                        .main_icon.classic=val[0] 
                                        span.classic_text!=val[1]
                        .swiper-button-prev.swiper-button-black
                        .swiper-button-next.swiper-button-black                
            .main_container
                .main_title_out
                        span.main_title 手工貼紙
                span.main_text 以生活主題為元素，綜合媒材的使用，讓手工貼紙成為點綴生活好小設計。
            .main_full_screen.classic
                .main_container.classic
                    .swiper-container
                        .swiper-wrapper
                            -var arr = [['比基尼手工貼紙','<p>推出時間 2001</p> ｜ 手工車縫紉比基尼套裝、主題零件使用複合材質，紙張、布料、PVC精緻加工，立體貼紙精采呈現。'],['謝謝玻璃瓶卡','<p>推出時間 2001</p> ｜ 以白紗布料、珍珠緞帶、蕾絲呈現優雅手工禮服，華麗串珠戒指、緞帶、禮物，打造夢幻新娘主題。']]
                            each val,index in arr
                                -var num = index + 1;
                                -var str = "~CH/desktop/classic/ph_2_"+num+".png";
                                .swiper-slide
                                    .classic_style.two_parts
                                        img(src=str alt="")
                                        .main_icon.classic=val[0] 
                                        span.classic_text!=val[1]
                        .swiper-button-prev.swiper-button-black
                        .swiper-button-next.swiper-button-black    
            .main_container
                .main_title_out
                        span.main_title 音樂鈴
                span.main_text 「以機芯發條帶動的趣─味─動─態!」是Wooderful life音樂鈴核心的研發價值。 以傳統與現代工法，賦予木製品永恆的新
            .main_full_screen.classic
                .main_container.classic
                    .swiper-container
                        .swiper-wrapper
                            -var arr = [['星星摩天輪音樂鈴','<p>推出時間 2012</p> ｜ 坐落城市裡的摩天輪，隨著幸福的音符緩慢的轉阿轉。 模擬摩天輪的姿態，一節節車廂隨著音樂360度轉動。'],['台灣阿里山城市音樂鈴','<p>推出時間 2013</p> ｜ 迷你小火車在阿里山上繞阿繞，繞著神木森林和車站。城市系列，隱藏式軌道設計，零件會隨音樂旋轉繞圈。']]
                            each val,index in arr
                                -var num = index + 1;
                                -var str = "~CH/desktop/classic/ph_3_"+num+".png";
                                -var strCircle = "~CH/desktop/classic/circle_3_"+num+".png";
                                -var strPhClass = "photo_3_" + num;
                                -var strCircleClass =  "circle_3_" + num;
                                .swiper-slide
                                    .classic_style.two_parts
                                        .music_img
                                            img(src=str alt="" class=strPhClass)
                                            img(src=strCircle alt="" class=strCircleClass)
                                        //- img(src=str alt="")
                                        .main_icon.classic=val[0] 
                                        span.classic_text!=val[1]
                        .swiper-button-prev.swiper-button-black
                        .swiper-button-next.swiper-button-black    
            .main_container.classic_hide
                .main_title_out
                        span.main_title 紙膠帶
                span.main_text Funtape紙膠帶，MIT設計生產以無毒的環保原料製作。顯色完美、輕透好撕、重複黏貼創造趣味實用的紙膠帶。
            .main_full_screen.classic
                .main_container
                    .classic_2_container
                        .classic_2_left
                            .title 紙膠帶
                            .text Funtape紙膠帶，MIT設計生產
                            .text 以無毒的環保原料製作。
                            .text 顯色完美、輕透好撕、重複黏貼
                            .text 創造趣味實用的紙膠帶。
                            img.ph_4_1(src="~CH/desktop/classic/ph_4_1.png", alt="")
                        .classic_2_right
                            .img_space
                                img.ph_4_2(src="~CH/desktop/classic/ph_4_2.png", alt="")
                            .text_space
                                .main_icon.classic 100選色‧個人的色彩學
                                span.classic_text <p>推出時間 2015</p> ｜ 用數字、色號將100種顏色編號，便於色彩的選擇與運用。100種色彩的心理、100種生活的模樣、100種
                        .clear                        
            .main_container
                .main_title_out
                        span.main_title 紙風景
                span.main_text 用簡單的工具即可拼組、黏貼成細緻的紙上風景，收藏15個台灣景點，用雙手來組裝、建構片片的時間軌跡，DIY景點材料包，等你來細細
            .main_full_screen.classic
                .main_container
                    .classic_container
                        .classic_left
                            img.ph_5(src="~CH/desktop/classic/ph_5_1.png", alt="")
                        .classic_right
                            .main_icon.classic 城市地景系列-台北101
                            span.classic_text <p>推出時間 2015</p> ｜ 登上台北的天空，在離地509公尺的建築裡用其他角度看世界，只需要簡單的工具，利用紙張原色的質感建構，層層疊疊出虛與實的風景，寫下時代的城市記憶。<p class="red">（本商品經台北101授權）</p>
                            .circle_img_space
                                img(src="~CH/desktop/classic/circle_5_1.png", alt="")
                                img(src="~CH/desktop/classic/circle_5_2.png", alt="")
                                img(src="~CH/desktop/classic/circle_5_3.png", alt="")
                        .clear
            .main_container
                .main_title_out
                        span.main_title 主題音樂播放器
                span.main_text 音樂、燈光，夜裡的小小動態世界，柔和的光線造映著原木的優雅， 搭配輕柔的音樂，溫暖整個居家夜晚。
            .main_full_screen.classic
                .main_container
                    .classic_container
                        .classic_left
                            img.ph_6(src="~CH/desktop/classic/ph_6_1.jpg", alt="")
                        .classic_right
                            .main_icon.classic 夢幻城堡主題音樂播放器
                            span.classic_text <p>推出時間 2016</p> ｜ 夜裡的夢幻城堡，色彩噴泉、小船跟著幸福的樂章轉動。原木打造多功能播放器，電子時鐘、氣氛燈飾、動態設計，將木頭的溫潤樸實容入產品，以溫暖的氛圍撫慰人心。
                            .circle_img_space
                                img(src="~CH/desktop/classic/circle_6_1.png", alt="")
                                img(src="~CH/desktop/classic/circle_6_2.png", alt="")
                                img(src="~CH/desktop/classic/circle_6_3.png", alt="")
                        .clear
    include ./include/common/service.pug
    +service("not_index")  
    include ./include/common/fixed_service.pug
