extends _master.pug
block head-append
    title 
    meta(property="og:title" content="合作開發｜知音文創 Jean Cultural & Creative Co., Ltd.")
    meta(name="description" content="合作開發｜知音文創 Jean Cultural & Creative Co., Ltd.")
    meta(property="og:description" content="以專業團隊為您製作最高規格的合作開發商品，提供專業的禮品諮詢服務，塑造獨具特色的創意設計，提升品牌形象價值並達到理想的企業宣傳。")

    link(rel='stylesheet' href="/asset/lib/swiper/swiper.min.css")
    script(src="/asset/lib/swiper/swiper.min.js" defer)
    script(src="/asset/js/customization.js" defer)
    link(rel="stylesheet", href="/asset/css/customization.css")

block header
    include ./include/master/header.pug
    +header(['','','','','ON',''])

block content-extend
    include ./include/common/page_theme.pug
    include ./include/common/page_select.pug
    include ./include/master/makers_header.pug
    include ./include/common/select.pug
    .business
        +page_theme("BUYERS","客戶服務","background-image:url('${require(`../../img/CH/desktop/about/bg.jpg`)}')")

        +page_select([['合作開發','/CH/customization.html','ON'],['經銷商專區','/CH/buyers.html',''],['線上音樂鈴試聽','http://59.120.39.177:8089/Login.aspx','','_blank']],false)
        +makers_header([['合作開發','/CH/customization.html','ON'],['經銷商專區','/CH/buyers.html',''],['線上音樂鈴試聽','http://59.120.39.177:8089/Login.aspx','','_blank']])
        .main_content
            .main_full_screen.about
                .special_introduction.customization
                    .introduction_container
                        .introduction_title_container
                            .introduction_title 合作開發特點
                            .color
                                .c_1(style="background-color: #f3a0a2;")
                                .c_2(style="background-color: #6e99cb;")
                                .c_3(style="background-color: #f7ac1d;")
                                .c_4(style="background-color: #95d0bc;")
                                .c_5(style="background-color: #dcb483;")
                        .introduction_content
                            .desktop 知音合作開發項目有卡片、紙膠帶、便利貼、紙製禮品、木製禮品....等
                            .desktop 以專業團隊為您製作最高規格的合作開發商品，提供專業的禮品諮詢服務，塑造
                            .desktop 獨具特色的創意設計，提升品牌形象價值並達到理想的企業宣傳。
                            .mobile 知音合作開發項目有卡片、紙膠帶、便利貼、紙製禮品、木製禮品....等，以專業團隊為您製作最高規格的合作開發商品，提供專業的禮品諮詢服務，塑造獨具特色的創意設計，提升品牌形象價值並達到理想的企業宣傳。
                    .more.more_btn
            .main_container.first_container
                .main_title_out
                        span.main_title 成功案例
                .main_wrap
                    .main_icon 手工與雷射卡片、雷射地標
                    .swiper-container.col_0
                        .swiper-wrapper.col_0
                            each val in [[1,'芬蘭 / 聖誕老人村禮品店','雷射三折卡','此卡片設計成證書形式，讓遊客入園後，可於指定區域蓋章。以互動的方式，留下美好的紀念。'],[2,'印尼珠寶公司','聖誕活動貴賓邀請卡','始於1979年，主打富有質感且華麗的鑽石設計，並持續提供讓人驚艷的設計商品。<br/>本次與知音合作、設計貴賓邀請卡，讓VIP客戶一開啟卡片，提前感受高貴、優雅的氛圍。'],[3,'聯邦銀行','感謝卡','透過雷射所呈現的細膩、高貴感，除了感謝聯邦銀行的所有客戶，同時也代表了聯邦銀行給予客戶的貼心、溫暖的服務。'],[4,'國立自然博物館','官方卡片','卡片中容融合多款元素，讓遊客一眼即可了解科博館所傳達的意旨。'],[5,'俄羅斯 / 禮品店','俄羅斯雷射書卡','華麗的俄羅斯城市，透過知音獨創的雷射技術，細膩精緻的紙張雷射，呈現出層層細節及文化風情。'],[6,'Taipei 101','地景紙風景紀念品','由知音設計師以對等的比例、構思每一個裁片，完成了此款地景的紙拼圖，讓手作者感受桌上建築拼裝的樂趣。完成後更是一個小巧美觀的裝飾品。<br/><span class="red">*本商品經台北101授權</span>']]
                                .swiper-slide.col_3
                                    .photo(class="ph_1_"+val[0])
                                        .company_name.green=val[1]
                                    .production
                                        .production_name=val[2]
                                        .production_description!=val[3]

                        .swiper-button-prev.swiper-button-black
                        .swiper-button-next.swiper-button-black
                .main_wrap
                    .main_icon 紙膠帶與便利貼
                    .swiper-container.rectangle.col_0
                        .swiper-wrapper.col_0
                            each val in [[1,'國家電影中心','影展紙膠帶','2014台灣國際紀錄片影展TIDF合作開發紙膠帶，兩款設計，用投影的點點光影與時間軸的切片表現出來，電影的經典膠卷的概念重現在紙膠帶上。<br/>來自美、法、加、荷、西、日、韓、中、英、德等20國，共70位外賓來台，影展上放映100-140部影片，場次共約250場，吸引超過3萬人次觀眾參加。並可有條件獲得知音TIDF紙膠帶兩款。'],[2,'雲門劇場','2015年雲門劇場開園紀念禮','雲門劇場開園紀念，由知音設計編排合作完成了一式兩款的紙膠帶，一款是抹茶綠色搭配銀色的董陽孜老師雲門書法字，另一款則是翠綠色搭配黑色。兩款都有被群山環抱的雲門劇場幾何折線的圖騰，特別設計的圖騰線條簡潔美麗，輕薄透的紙質，充分表現雲門劇場的特色。<br/>只要憑開門見客邀請卡或演出票券，或是於社群網站分享打卡，就可獲得紀念紙膠帶一捲。'],[3,'ARUKAS 原創社團','特別色款-紙膠帶','2016年個人委託製造，ARUKAS原創社團的圖像線條設計相當優雅細緻，使用金色特別色表現蝴蝶、羽毛、以及雕花花紋、蝴蝶圖騰。<br/>透過知音紙膠帶的生產技術，表現出輕透細緻的特色，並使用顯色完美的環保油墨，凸顯金色與淡雅的粉紅色的輕盈光澤感，軸芯、紙膠帶平整的剖面裁切品質令人感到安心。'],[4,'大塚製藥','大塚製藥便利貼','2015年大塚製藥做為宣傳PLETAAL大塚普達錠禮贈品。透過心血管用藥、「快中風了」的沖孔字樣表現出使用便利貼的功能、情境，並趣味結合廣告藥品的訴求與功能。<br/>透過i-Marker便利貼獨特的沖孔生產技術，提升整體便利貼的價值感，富饒趣味的標題讓人會心一笑，在忙碌步調中減緩壓力，也能有效預防中風也說不定呢！<br/>']]
                                .swiper-slide.col_10
                                    .photo.rectangle(class="ph_2_"+val[0])
                                        .company_name.orange=val[1]
                                    .production
                                        .production_name=val[2]
                                        .production_description!=val[3]
                        .swiper-button-prev.swiper-button-black
                        .swiper-button-next.swiper-button-black
                .main_wrap
                    .main_icon Wooderful life
                    .swiper-container.col_0
                        .swiper-wrapper.col_0
                            each val in [[1,'朱銘美術館','朱銘美術館音樂鈴','把朱銘老師經典手雕藝術-單鞭下勢透過木頭來呈現獨特的藝術語彙，不一樣的觸感傳承一樣的精神。<br/>融合了館的生態元素，傳達其悠然自在的愜意風格。'],[2,'陳明章','陳明章音樂鈴','溫潤的木作主體，依照新北投火車站設計而成，啟動火車、流瀉出陳明章老師譜寫的歌曲《心愛的老車站》，把感人的旋律，用單音的方式呈現，聆聽老師的音樂，一起發現台灣的好山好水，把故事與溫度延伸至生活的每個角落。']]
                                .swiper-slide.col_5
                                    .photo(class="ph_3_"+val[0])
                                        .company_name.brown=val[1]
                                    .production
                                        .production_name=val[2]
                                        .production_description!=val[3]
                            each val in [[3,'美國 / Age of Learing','公司客製音樂鈴','美國知名補教機構，針對其公司logo/建設，客製一版音樂鈴作贈品使用。'],[4,'俄羅斯 MEMCO','軟腿音樂鈴-糜鹿','客製聖誕節員工禮物'],[5,'新加坡金莎酒店','金莎酒店音樂鈴','新加坡知名酒店-金莎酒店客製化']]
                                .swiper-slide.col_5_3
                                    .photo(class="ph_3_"+val[0])
                                        .company_name.brown=val[1]
                                    .production
                                        .production_name=val[2]
                                        .production_description!=val[3]
                        .swiper-button-prev.swiper-button-black
                        .swiper-button-next.swiper-button-black
    include ./include/common/service.pug
    +service("not_index")  
    include ./include/common/fixed_service.pug
