extends _master.pug
block head-append
    title Product| Jean Cultural & Creative 
    meta(property="og:title" content="Product| Jean Cultural & Creative ")
    meta(name="description" content="Upholding the aim to “deliver sensation”, Jean Cultural & Creative injects enthusiasm into product development to build countless classic designs that touch people.")
    meta(property="og:description" content="Upholding the aim to “deliver sensation”, Jean Cultural & Creative injects enthusiasm into product development to build countless classic designs that touch people.")

    link(rel='stylesheet' href="/asset/lib/swiper/swiper.min.css")
    script(src="/asset/lib/swiper/swiper.min.js" defer)
    script(src="/asset/js/classic.js" defer)
    link(rel="stylesheet", href="/asset/css/classic.css")

block header
    include ./include/master/header.pug
    +header(['','ON','','','',''])

block content-extend
    include ./include/common/page_theme.pug
    include ./include/common/page_select.pug
    include ./include/common/select.pug
    include ./include/master/makers_header.pug
    .business
        +page_theme("ABOUT","關於知音","background-image:url('${require(`../../img/CH/desktop/buyers/bg.jpg`)}')")

        +page_select([['Genesis','/EN/about.html',''],['History','/EN/history.html',''],['Classic','/EN/classic.html','ON'],['Hiring','/EN/hiring.html','']],false)
        +makers_header([['Genesis','/EN/about.html',''],['History','/EN/history.html',''],['Classic','/EN/classic.html','ON'],['Hiring','/EN/hiring.html','']])
        .main_content     
            .main_container.first_container
                .main_title_out
                        span.main_title Handmade Cards
                span.main_text Everyday life elements, simple styles, and mixed media expressing the never-changing intent to send warmth and blessings with handmade cards.

            .main_full_screen.classic
                .main_container.classic
                    .swiper-container
                        .swiper-wrapper
                            -var arr = [['Purple High-Heel','<p>2001</p> ｜ This classic mini clothes card features a handmade pick dress with a hanger.Simple appearance and warmth fabrics send all your blessings.'],['Thank You Glass Bottle Card','<p> 2001</p> ｜ The classic glass bottle card features handmade papers and mixed media parts.Clear PVC presents the glass bottle where all gratitude is seen.'],['Baby Girl Clothes Card','<p>2005</p> ｜ This classic mini clothes card features a handmade pick dress with a hanger.Simple appearance and warmth fabrics send all your blessings.']]
                            each val,index in arr
                                -var num = index + 1;
                                -var str = "~CH/desktop/classic/ph_1_"+num+".png";
                                .swiper-slide
                                    .classic_style.three_parts
                                        img(src=str alt="")
                                        .main_icon.classic=val[0] 
                                        span.classic_text!=val[1]
                        .swiper-button-prev.swiper-button-black
                        .swiper-button-next.swiper-button-black                
            .main_container
                .main_title_out
                        span.main_title Handmade Stickers
                span.main_text Everyday life elements and mixed media make handmade stickers the perfect small decorations of life.
            .main_full_screen.classic
                .main_container.classic
                    .swiper-container
                        .swiper-wrapper
                            -var arr = [['Bikini Handmade Stickers','<p>2001</p> ｜ Hand-sewn bikini sets and theme parts in mixed media,The wonder of 3D stickers is presented through elaborate processing of paper, fabrics, and PVC.'],['White Bridal Gown Handmade Sticker ','<p>2001</p> ｜ White chiffon, pearl ribbons, and lace present the elegance of handmade gowns.Beaded rings, ribbons, and gifts build the dreamy bridal theme.']]
                            each val,index in arr
                                -var num = index + 1;
                                -var str = "~CH/desktop/classic/ph_2_"+num+".png";
                                .swiper-slide
                                    .classic_style.two_parts
                                        img(src=str alt="")
                                        .main_icon.classic=val[0] 
                                        span.classic_text!=val[1]
                        .swiper-button-prev.swiper-button-black
                        .swiper-button-next.swiper-button-black    
            .main_container
                .main_title_out
                        span.main_title Music Box
                span.main_text “Dynamic fund from winding mechanisms” is theCore R&D value of Wooderful music boxes That brings a new life to wooden products with traditional and modern craftsmanship together.
            .main_full_screen.classic
                .main_container.classic
                    .swiper-container
                        .swiper-wrapper
                            -var arr = [['Star Ferris Wheel Music Box','<p>2012</p> ｜ A city Ferris wheel slowly rotates as the happy music goes.Simulating the style of a Ferris wheel, every car turns 360° as the wheel rotates.'],['Alishan City Music Box','<p>2013</p> ｜ A mini train circles around the Giant tree and stations on Alishan.The City series features the hidden rail design with rotating parts as the music goes.']]
                            each val,index in arr
                                -var num = index + 1;
                                -var str = "~CH/desktop/classic/ph_3_"+num+".png";
                                -var strCircle = "~CH/desktop/classic/circle_3_"+num+".png";
                                -var strPhClass = "photo_3_" + num;
                                -var strCircleClass =  "circle_3_" + num;
                                .swiper-slide
                                    .classic_style.two_parts
                                        .music_img
                                            img(src=str alt="" class=strPhClass)
                                            img(src=strCircle alt="" class=strCircleClass)
                                        //- img(src=str alt="")
                                        .main_icon.classic=val[0] 
                                        span.classic_text!=val[1]
                        .swiper-button-prev.swiper-button-black
                        .swiper-button-next.swiper-button-black    
            .main_container.classic_hide
                .main_title_out
                        span.main_title Masking Tape
                span.main_text Funtape紙膠帶，MIT設計生產以無毒的環保原料製作。顯色完美、輕透好撕、重複黏貼創造趣味實用的紙膠帶。
            .main_full_screen.classic
                .main_container
                    .classic_2_container
                        .classic_2_left
                            .title Masking Tape
                            .text Design and made in Taiwan with non-toxic and eco-friendly materials,
                            .text Funtape masking tapes bring perfect colors,
                            .text Light, easy to tear, and reusable, great for creating fun.
                            img.ph_4_1(src="~CH/desktop/classic/ph_4_1.png", alt="")
                        .classic_2_right
                            .img_space
                                img.ph_4_2(src="~CH/desktop/classic/ph_4_2.png", alt="")
                            .text_space
                                .main_icon.classic 100 Colors for Personal Chromatics
                                span.classic_text <p>2015</p> ｜ Colors are coded by number and color code for ease of selection and use. 100 color psychological properties, 100 types of life patterns, 100 desires for collection.
                        .clear                        
            .main_container
                .main_title_out
                        span.main_title PaperNthought
                span.main_text A delicate scene on paper is assembled and bonded with only simple tools. Build 15 Taiwan sightseeing spots and keep a track of time with hands. PaperNthought DIY packs are there for you to explore the taste of craftsmanship and sensation.
            .main_full_screen.classic
                .main_container
                    .classic_container
                        .classic_left
                            img.ph_5(src="~CH/desktop/classic/ph_5_1.png", alt="")
                        .classic_right
                            .main_icon.classic City Landscape Series - Taipei 101
                            span.classic_text <p>2015</p> ｜ Up on the sky of Taipei to see the world at different angles from a 508m tall building. With simple tools and the native color of paper,Build a landscape between reality and fantasy and write down the memories of the city.<p class="red">（本商品經台北101授權）</p>
                            .circle_img_space
                                img(src="~CH/desktop/classic/circle_5_1.png", alt="")
                                img(src="~CH/desktop/classic/circle_5_2.png", alt="")
                                img(src="~CH/desktop/classic/circle_5_3.png", alt="")
                        .clear
            .main_container
                .main_title_out
                        span.main_title Theme Music Player
                span.main_text Music and light, the little moving world in the night.Soft light sheds on the elegant log ,And light music together warm the sweet home at night.
            .main_full_screen.classic
                .main_container
                    .classic_container
                        .classic_left
                            img.ph_6(src="~CH/desktop/classic/ph_6_1.jpg", alt="")
                        .classic_right
                            .main_icon.classic Dream Castle Theme Music Player 
                            span.classic_text <p>2016</p> ｜ The dream castle in the night, the colorful fountain, and the boat rotate as a happy tune plays. The wooden multifunctional player equipped with a digital clock, mood lamp, and dynamic design Fuses the warmth and simplicity of wood with the product to soothe people in a warm atmosphere.
                            .circle_img_space
                                img(src="~CH/desktop/classic/circle_6_1.png", alt="")
                                img(src="~CH/desktop/classic/circle_6_2.png", alt="")
                                img(src="~CH/desktop/classic/circle_6_3.png", alt="")
                        .clear
    include ./include/common/service.pug
    +service("not_index")  
    include ./include/common/fixed_service.pug
